/**
 * Author:  www.w3resource.com/twitter-bootstrap/example-fluid-layout-with-twitter-bootstrap.html
 */
body {
	padding-top: 80px;
	padding-bottom: 40px;
}

ul.thumbnails li.span4:nth-child(3n + 4) {
margin-left : 0 px ;
}

ul.thumbnails li.span3:nth-child(4n +5){
margin-left:0px;}

ul.thumbnails li.span12+li {
	margin-left: 0px;
}

/*
.nav li {
    padding-top: 5px;
}

.sidebar-nav {
    padding: 9px 0;
}
*/
.leaderboard {
	padding: 60px;
	margin-bottom: 30px;
	background-image: url('gridbg.gif');
	background-repeat: repeat;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.leaderboard h1 {
	font-size: 40px;
	margin-bottom: 5px;
	line-height: 1;
	letter-spacing: -1px;
	color: #FF6600;
}

.leaderboard p {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
}

.well {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: none;
}

.grid-image {
	background-image: url('gridbg.gif');
	background-repeat: repeat;
}

.nav .nav-header {
	font-size: 14px;
	color: #FF9900;
}

.nav .nav-header a:link,.nav .nav-header a:visited {
	color: #FF9900;
}

.category-header {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
}

.title-header {
	font-size: 24px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #F90;
	height: 28px;
	padding: 10px 0 0 10px
}

.product-info {
	float: right;
	padding-right: 10px;
	font-weight: bold;
}

.plugin-info {
	position: fixed;
	top: 30%;
	right: 0;
	width: 12px;
	height: 30%;
	margin-right: 3px;
	z-index: 4;
	-webkit-border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	background: black;
}

.tooltip {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.comment_title {
	font-size: 11px;
	font-weight: bold;
	color: #08C;
}

.comment_desc {
	font-size: 11px;
	color: #666;
	text-indent: 20px;
	text-transform: inherit;
}

.scrollspy-comment {
	height: 200px;
	overflow: auto;
	position: relative;
}

.nav-bar{
	font-size: 20px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #F90;
	height: 28px;
	padding: 10px 0 0 10px
}
.btn{
	line-height:20px;
	font-weight: bold;	
}
.lable-css{
	font-size: 14px;
	font-weight: bold;
}