/**
 * Author:  www.w3resource.com/twitter-bootstrap/example-fluid-layout-with-twitter-bootstrap.html
 */
body {
    padding-top: 80px;
    padding-bottom: 40px;
}

/*
.nav li {
    padding-top: 5px;
}

.sidebar-nav {
    padding: 9px 0;
}
*/

.leaderboard {
    padding: 60px;
    margin-bottom: 30px;
    background-image: url('gridbg.gif');
    background-repeat: repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.leaderboard h1 {
    font-size: 40px;
    margin-bottom: 5px;
    line-height: 1;
    letter-spacing: -1px;
    color: #FF6600;
}

.leaderboard p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}

.well {  
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: none;
}

.grid-image{
	background-image: url('gridbg.gif');
	background-repeat: repeat;
}

.nav .nav-header {
    font-size: 12px;
    color: #FF9900;
}

.nav .nav-header a:link,.nav .nav-header a:visited {
    color: #FF9900;
}

.category-header{
	font-size:16px;
	text-align: center;
	font-weight: bold;
}
.product-info{
	float: right;
	padding-right: 10px;
	font-weight: bold;
}

.thumbnails .span3 {
  width: 23%;
  *width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  *margin-left: 1%;
  *margin-right: 1%;
  min-width: 120px;
  *min-width: 120px;
}

.plugin-info {
position: fixed;
top: 30%;
right: 0;
width: 12px;
height: 30%;
margin-right:3px;
z-index: 4;
 -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
background: black;
}